Assets/StylizedCharacter/Animations/Character/Human/Female/A_Hu_F_IdlePreview.fbx filter=lfs diff=lfs merge=lfs -text
Assets/StylizedCharacter/Animations/Character/Human/Female/A_Hu_F_BasePack.fbx filter=lfs diff=lfs merge=lfs -text
